.icon-base {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
  color: inherit;
  background-color: currentColor;
  mask-size: 100% 100%;
  -webkit-mask-size: 100% 100%;
}

.icon-dir {
  --data: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNiIgaGVpZ2h0PSIzNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8cGF0aAogICAgZD0iTTEuNzUgMUExLjc1IDEuNzUgMCAwMDAgMi43NXYxMC41QzAgMTQuMjE2Ljc4NCAxNSAxLjc1IDE1aDEyLjVBMS43NSAxLjc1IDAgMDAxNiAxMy4yNXYtOC41QTEuNzUgMS43NSAwIDAwMTQuMjUgM0g3LjVhLjI1LjI1IDAgMDEtLjItLjFsLS45LTEuMkM2LjA3IDEuMjYgNS41NSAxIDUgMUgxLjc1eiIgLz4KPC9zdmc+);
  mask-image: var(--data);
  -webkit-mask-image: var(--data);
}

.icon-file {
  --data: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNiIgaGVpZ2h0PSIzNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiCiAgICBkPSJNMy43NSAxLjVhLjI1LjI1IDAgMDAtLjI1LjI1djExLjVjMCAuMTM4LjExMi4yNS4yNS4yNWg4LjVhLjI1LjI1IDAgMDAuMjUtLjI1VjZIOS43NUExLjc1IDEuNzUgMCAwMTggNC4yNVYxLjVIMy43NXptNS43NS41NnYyLjE5YzAgLjEzOC4xMTIuMjUuMjUuMjVoMi4xOUw5LjUgMi4wNnpNMiAxLjc1QzIgLjc4NCAyLjc4NCAwIDMuNzUgMGg1LjA4NmMuNDY0IDAgLjkwOS4xODQgMS4yMzcuNTEzbDMuNDE0IDMuNDE0Yy4zMjkuMzI4LjUxMy43NzMuNTEzIDEuMjM3djguMDg2QTEuNzUgMS43NSAwIDAxMTIuMjUgMTVoLTguNUExLjc1IDEuNzUgMCAwMTIgMTMuMjVWMS43NXoiIC8+Cjwvc3ZnPg==);
  mask-image: var(--data);
  -webkit-mask-image: var(--data);
}

.icon-home {
  --data: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNiIgaGVpZ2h0PSIzNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIKICAgIGQ9Ik04LjM4IDEuMzUzTDggMS4xMzFsLS4zOC4yMjJsLTcuMjUgNC4yNWEuNzUuNzUgMCAwIDAgLjc2IDEuMjk0bC44Ny0uNTFWMTRoMTJWNi4zODdsLjg3LjUxYS43NS43NSAwIDEgMCAuNzYtMS4yOTRsLTcuMjUtNC4yNVptNC4xMiA0LjE1NEw4IDIuODdMMy41IDUuNTA3VjEyLjVINlY4aDR2NC41aDIuNVY1LjUwN1pNOC41IDkuNXYzaC0xdi0zaDFaIiAvPgo8L3N2Zz4=);
  mask-image: var(--data);
  -webkit-mask-image: var(--data);
}
